
/*********************************************/

.hidden {
    display: none;
}

#info {
    position: absolute;
    width: 80vw;
    height: 40vh;
    top: 20vh;
    left: 50vw;
    transform: translate(-40vw, 0);  
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    align-content: center;
    color: white;
    background: #000033aa;
}

#info #close-info {
    flex: 0 1 auto;
}

#info a {
    color: rgb(6, 232, 248);
}

#info div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2vh;
    text-align: center;
    line-height: 25px;
}



.ui {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.ui-top, 
.ui-center,
.ui-bottom {
    display: flex;
    flex: 0 1 auto; 
}

.ui-top {
    justify-content: flex-end;
}

.ui-center {
    justify-content: space-around;
    flex: 1 0 auto;
}

.ui-bottom {
    justify-content: space-between;
    margin-bottom: 2vh;
}

#dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    justify-content: stretch;
 }
 
 #messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background:  #150e29aa;
    border: 1px solid #0f096b;
    flex: 1 0 auto;
    width: 98vw;
    margin-bottom: 1vh;
    justify-content: flex-end;
 }

 #messages {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #ffffff;
    padding: 2em;
 }

 #messages p {
    margin: 3px;
    font-size: 2.2em;
 }

 #replicies {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    margin: 10px;
 }

.left-container,
.center-container,
.right-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 25vw;
}

.left-container {
    justify-content: flex-start;
    flex: 0 1 auto;
}

.right-container {
    justify-content: flex-end;
    flex: 0 1 auto;
}

/*****************************************/

.ui button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 2.2em;
    transition: 0.2s;  
    color: #c4e2ff; 
    border: 1px solid #c1e1ff; 
    height: 2em;
    width: 30vw;
    overflow: hidden;
    border-radius: 5px; 
    background: #004ba193;
    cursor: pointer;
    max-width: 360px;
}


#dialog-button-toggle {
    height: 3.1em;
    border-radius: 40px;
}


.ui button.control {
    flex: 0 0 3.1em;
    height: 3.1em;
    width: 3.1em;
    border-radius: 2.8em;
    margin: 0.2em;
}

.ui #replicies button {
    width: 100%;
    margin: 1px;
}


.ui button:hover {
    background:#7dc0ff; 
    color: #001950;
    border-color:  #001950;
    cursor: pointer;
}


/****************************************************/

#bridge-params {
    position: absolute; 
    top: 40px; 
    left: 10px; 
    background: #ffffff55;
}

#bridge-params span {
    display: inline-block;
    width: 100px;
}

#bridge-params input {
    width: 300px;
}


/****************************************************/


.info-cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.info-wrap {
    color: white;
    position: relative;
    width: 90vw;
    max-width: 800px;
    background: rgba(69, 10, 77, 0.733);
    padding: 4em;
}

.info-wrap div{
    margin: 2.7em 0;
    font-size: 2.2em;
}

.info-wrap a{
    color: rgb(84, 233, 103);
}

.info-wrap button{
    position: absolute;
    right: 3px;
    top: 3px;
    font-size: 2.8em;
    transition: 0.2s;  
    color: #c4e2ff; 
    border: 1px solid #c1e1ff; 
    height: 2.2em;
    width: 2.2em;
    overflow: hidden;
    border-radius: 5px; 
    background: #004ba193;
    cursor: pointer;
    max-width: 360px;
}