
/*********************************************/

#info {
    position: absolute;
    width: 80vw;
    height: 40vh;
    top: 20vh;
    left: 50vw;
    transform: translate(-40vw, 0);  
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    align-content: center;
    color: white;
    background: #000033aa;
}

#info #close-info {
    flex: 0 1 auto;
}

#info a {
    color: rgb(6, 232, 248);
}

#info div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 2vh;
    text-align: center;
    line-height: 25px;
}



.ui {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.ui-top, 
.ui-center,
.ui-bottom {
    display: flex;
    flex: 0 1 auto; 
}

.ui-top {
    justify-content: flex-end;
}

.ui-center {
    justify-content: space-around;
    flex: 1 0 auto;
}

.ui-bottom {
    justify-content: space-between;
    margin-bottom: 4vh;
}

#dialog-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    justify-content: stretch;
 }
 
 #messages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #000033aa;
    border: 5px solid #ffffff;
    flex: 1 0 auto;
    width: 98vw;
    margin-bottom: 1vh;
    justify-content: flex-end;
 }

 #messages {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: #ffffff;
 }

 #messages p{
    margin: 3px;
    font-size: 23px;
 }

 #messages p.player{
    font-size: 18px;
    color: chartreuse;
 }

 #replicies {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
 }

.left-container,
.center-container,
.right-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 25vw;
}

.left-container {
    justify-content: flex-start;
    flex: 0 1 auto;
}

.right-container {
    justify-content: flex-end;
    flex: 0 1 auto;
}


.ui button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-size: 23px;
    transition: 0.2s;  
    height: 60px;
    width: 35vw;
    border: 2px solid #e4f9ff; 
    min-height: 4vh;
    width: 30vw;
    overflow: hidden;
    border-radius: 5px; 
    background: #181d38;
    color: #e4f9ff;
    cursor: pointer;
    margin: 1vh;
}


.ui button.control  {
    flex: 0 0 60px;
    height: 60px;
    width: 60px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 40px;
}

.ui #replicies button {
    height: 35px;
    width: 100%;
    margin: 1px;
}


.ui button:hover {
    background: #e4f9ff;
    color: #181d38;
    cursor: pointer;
    border-color:  #181d38;
}
